automated_report/.Rproj.user/*
app/.Rproj.user
/**/*.Rhistory
/**/*.RData
/**/*.pdf
/**/*.eps
/**/*.txt
automated_report/*.utf8.md
automated_report/*.knit.md
automated_report/_cache/
automated_report/cache/
automated_report/.Rproj.user/2D9751F5/sources/prop/INDEX
