automated_report/.Rproj.user/
app/.Rproj.user/
/**/*.Rhistory
/**/*.RData
/**/*.pdf
/**/*.eps
/**/*.txt
automated_report/*.utf8.md
automated_report/*.knit.md
.Rproj.user
automated_report/wrapper.R
automated_report/wrapper.R
app/.RData
app/.Rhistory
app/.RData
app/.Rhistory
